@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
h1{
    /* Welcome To Our Website */
/* 
position: absolute;
width: 548px;
height: 51px;
left: 62px;
top: 244px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 44px;
line-height: 53px;

color: #000000;


}
p{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard */
/* 
position: absolute;
width: 571px;
height: 156px;
left: 68px;
top: 318px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #4C4C4C;
/* 

}
.image{
    /* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard */
/* 
position: absolute;
width: 571px;
height: 156px;
left: 68px;
top: 318px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 32px;
line-height: 39px;

color: #4C4C4C;

 */  
